<!DOCTYPE HTML>
<html>
  <head>

  </head>
  <body>

    <form method="POST" action="/posts">
      <label>Name</label>
      <input type="text" name="name" ><br />

      <label>Content</label>
      <input type="text" name="content">

      <button type="submit">submit</button>

    </form>

  </body>
</html>
