<!DOCTYPE HTML>
<html>
<head>
</head>
<body>
   <ul>
     <li>
       <%= @post.name %>
     </li>
     <li>
       <%= @post.content %>
     </li>
   </ul>

   <form method="post" action="/posts/<%=@post.id%>/delete">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input type="submit" value="delete">
</form>

</body>
</html>
